<div class="menu-overlay">
  <div class="menu-modal">

    <div class="snake-decoration">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <h1 class="game-title">
      <span>SNAKE</span>
    </h1>

    <p class="subtitle">Seja bem-vindo(a)!</p>

    @if (!gameStarted) {
    <div class="menu-buttons">
      <button class="menu-button primary" (click)="play.emit()">
        <span class="icon">▶</span>
        JOGAR
      </button>
    </div>
    } @else {
    <div class="menu-buttons">
      <button class="menu-button primary" (click)="play.emit()">
        <span class="icon">▶</span>
        CONTINUAR
      </button>
    </div>
    }
    <div class="high-score">
      <span>PONTUAÇÃO:</span>
      <strong>{{highScore}}</strong>
    </div>
  </div>
</div>