<div class="game-container">


    <div class="board">
        <div class="apple-icon">
            🍎 {{ game.score }}
        </div>
        <div class="cell" *ngFor="let cell of cells" [class.snake]="isSnake(cell)" [class.even]="isEven(cell)"
            [class.odd]="!isEven(cell)" [class.food]="isFood(cell)">
        </div>
    </div>
    @if (game.isGameOver) {
    <div class="game-over-overlay">
        <div class="game-over-modal">

            <div class="window-dots">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <h1>GAME OVER</h1>

            <p class="game-over-subtitle">
                A COBRA BATEU!
            </p>

            <button class="restart-button" (click)="game.restartGame()">
                <span class="play-icon">↻</span>
                JOGAR NOVAMENTE
            </button>

            <div class="score-container">
                <div class="score-item">
                    <span>MAIOR PONTUAÇÃO:</span>
                    <strong>{{ game.highScore }}</strong>
                </div>

                <div class="score-item">
                    <span>PONTUAÇÃO:</span>
                    <strong>{{ game.score }}</strong>
                </div>
            </div>

        </div>
    </div>
    }