.game-container {
  height: 95vh;

  display: flex;
  justify-content: center; /* centraliza na horizontal */
  align-items: center; /* centraliza na vertical */
}

.board {
  width: 600px;
  height: 600px;

  display: grid;

  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.664);
}

.even {
  background-color: rgb(182, 226, 128)
}

.odd {
  background-color: rgb(153, 207, 87)
}

.food {
  background-color: #f32e0b;
}

.snake {
  background-color: #3b3ecf;
}